.c-active-users {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > canvas {
    height: 30rem;
  }
}

//npm install chartjs-plugin-labels
//npm install chart.js --save
