body {
  background-color: #262626;
}

.c-start__kot {
  background-color: #151515;
  border-radius: 25px;
  display: flex;
  text-align: center;
}

.c-start__input {
  color: white;
  font-size: 50px;
  margin-top: 61px;
  margin-bottom: 73px;
}

.c-start__add {
  color: white;
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 80px;
}

button {
  background-color: #e21221;
  color: white;
  font-size: 45px;
  width: 444px;
  height: 150px;
  border-radius: 10px;
  border: none;
}

.c-start__series {
  margin-bottom: 100px;
}

.c-start__movie {
  margin-bottom: 130px;
}
