.c-form__input[type="text"] {
  background-color: #262626;
  border-color: #3c3c3c;
  border-radius: 10px 0px 0px 10px;
  color: white;
  &::placeholder {
    color: white;
  }
  &:hover,
  &:active {
    border-color: #e21221;
  }
  &:focus {
    outline: none;
  }
}

.c-form__input5[type="text"] {
  background-color: #262626;
  border-color: #3c3c3c;
  color: white;

  border-radius: 10px;
  &::placeholder {
    color: white;
  }
  &:hover,
  &:active {
    border-color: #e21221;
  }
  &:focus {
    outline: none;
  }
}

.c-form__input1[type="text"] {
  background-color: #262626;
  border-color: #e21221;
  border-radius: 10px;
  color: white;
  &::placeholder {
    color: white;
  }
  &:hover,
  &:active {
    border-color: #e21221;
  }
  &:focus {
    outline: none;
  }
}
.c-form__inputfilm[type="text"] {
  background-color: #262626;
  border-color: #e21221;
  border-radius: 10px;
  color: white;
  margin-bottom: 45px;
  &::placeholder {
    color: white;
  }
  &:hover,
  &:active {
    border-color: #e21221;
  }
  &:focus {
    outline: none;
  }
  @include media-breakpoint-up(md) {
    margin-bottom: 0px;
  }
  @include media-breakpoint-up(sm) {
    margin-bottom: 0px;
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 45px;
  }
}

.c-form__input3 {
  background-color: #262626;
  border-color: #3c3c3c;
  border-radius: 10px 0px 0px 10px;
  color: white;
  height: 40px;
}

.c-form__input2 {
  display: flex;
  background-color: #262626;
  border-color: #3c3c3c;
  border-radius: 10px;
  margin-top: 7px;
  height: 60px;
  color: white;
  &::placeholder {
    color: white;
    border-color: #e21221;
    border-radius: 2rem;
  }
  &:hover,
  &:active {
    border-color: #e21221;
  }
  .blokjes {
    border-color: #e21221;
    border-radius: 5px;
    margin-right: 12px;
  }
}

.c-form__inputmessage[type="text"] {
  background-color: #262626;
  border-color: #3c3c3c;
  height: 158px;
  border-radius: 10px;
  color: white;
  &:hover,
  &:active {
    border-color: #e21221;
  }
}

.c-form__label {
  color: white;
  font-size: 30px;
  margin-bottom: -4px;
}

.c-form__label2 {
  color: white;
  font-size: 30px;
  margin-bottom: -4px;
  margin-top: 29px;
  @include media-breakpoint-up(md) {
    margin-top: 9px;
  }
  @include media-breakpoint-up(sm) {
    margin-top: 9px;
  }
  @include media-breakpoint-up(lg) {
    margin-top: 29px;
  }
}

.c-film__kot {
  background-color: #151515;
  border-radius: 25px;
}

.c-form__title {
  margin-top: 55px;
  margin-bottom: 41px;
}

.c-form__actors {
}

.c-form__description {
  margin-top: 55px;
  margin-bottom: 42px;
  @include media-breakpoint-up(md) {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  @include media-breakpoint-up(sm) {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.c-form__uploadcover {
  margin-bottom: 29px;
  @include media-breakpoint-up(md) {
    margin-top: 9px;
    margin-bottom: 9px;
  }
  @include media-breakpoint-up(sm) {
    margin-top: 9px;
    margin-bottom: 9px;
  }
}

.c-film__input {
  color: white;
  font-size: 50px;
  margin-top: 61px;
  margin-bottom: 74px;
}

.btn-blokjes {
  border-color: #e21221;
  border-radius: 10px;
  background-color: #262626;
  color: white;
  border-width: 1px;
  margin-top: 4px;
  &:hover {
    color: white;
  }
}

.btn-johny {
  border-color: #e21221;
  border-radius: 10px;
  background-color: #262626;
  color: white;
  border-width: 1px;
  margin-top: 4px;
}

.c-form__label--active {
  border-color: #e21221;
}

.c-form__label--message {
  @include media-breakpoint-up(lg) {
    margin-top: 53px;
  }
}

.c-form__svg {
  padding-top: 10px;
}

.btn-save {
  border-radius: 100px;
  background-color: #e21221;
  color: white;
  width: 120px;
  height: 70px;
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 24px;
  padding-top: 10px;
}

.saveknop {
  text-align: right;
}

.uploadknop {
  background-color: #e21221;
  width: 90px;
  height: 40px;
  border-radius: 0px 10px 10px 0px;
  text-align: center;
}

.uploadvolledig {
  display: flex;
}

.addknop {
  background-color: #e21221;
  border-width: 7px;
  width: 50px;
  height: 39px;
  border-radius: 0px 10px 10px 0px;
  text-align: center;
  a {
    text-decoration: none;
    margin-bottom: 100px;
  }
  h2 {
    color: white;
  }
}

.addknopvolledig {
  display: flex;
}

.weg {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}
