html {
  scroll-behavior: smooth;
}

body {
  background-color: $color-grey;
}

a{
  color: $color-white;

  &:hover{
    text-decoration: none;
    color: $color-red;
  }
}

li{
  list-style: none;
}