//variables
$color-black: #151515;
$color-white: #fff;
$color-red: #e21221;
$color-grey: #262626;
$color-grey--light: #292929;

//fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

$font-montserrat: "Montserrat", sans-serif;

$font-size16: 1.6rem;
$font-size18: 1.8rem;
$font-size20: 2rem;
$font-size24: 2.4rem;
$font-size30: 3rem;

$border-radius__card: 2.5rem;
$box-shadow__card: 0px 0px 16px 0px rgba(#000, 0.5);

//Grid
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1688px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1488px
);
